@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;
  color: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  /* border: 1px solid #535bf2; */
}

.bgimage {
  background: url("./assets//melodyofthespiritBig.jpg");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 100vw 100%;
  /* filter: blur(0.9px); */
  /* position: absolute; */
  width: 100%;
  height: 100%;
}

#reader {
  /* margin-block: 20px; */
  text-align: center;
  margin: 0 auto;
  width: auto;
  height: auto;
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
  justify-items: auto;
  position: relative;
  /* background: #703BF7; */
  /* border: 1px solid #535bf2; */
  border-radius: 10px;
}

#reader video {
  /* width: auto; */
  /* height: auto; */
  border-radius: 10px;
}

.container {
  padding: 10px;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  padding: 0px;
  margin: 0px;
  /* margin: 0; */
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  /* font-size: 2.2em;
  line-height: 1.1; */
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.qrcodeContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 20px;
}

#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
}

/* animation Loadinf Styles */
.loadingAnimation {
  display: flex;
  align-items: center;
  place-items: center;
  justify-content: center;
  margin-top: 10px;
  border-radius: 50%;
  border: 5px solid #646cff;
  border-bottom: 10px dotted #646cff;
  border-top: 10px dotted #646cff;
  height: 100px;
  width: 100px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg); /* Starting rotation angle */
  }
  to {
    transform: rotate(360deg); /* Ending rotation angle */
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
